.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-app-container .list-group-item {
  display: flex;
}

.list-group-item .form-check {
  width: 90%;
}

.list-group-item-actions {
  width: 10%;
  text-align: right;
  min-width: 60px;
}

.list-group-item-actions span {
  display: none;
  color: #c00;
}

.main-app-container .list-group-item:hover .list-group-item-actions span {
  display: inline;
  cursor: pointer;
}

.list-group-item-actions span:hover {
  text-decoration: underline;
}

.list-group-item.task-completed {
  background-color: #f2f2f2;
}

.list-group-item.task-completed .form-check-label {
  text-decoration: line-through;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
